* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-box {
    border: 2px solid black;
    border-radius: 1rem;
    height: 520px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B7B597;
}

.inner-box1 {
    margin-top: 10px;
    background-color: #1ed9d9;
    border: 2px solid black;
    height: 80px;
    width: 200px;
    text-align: center;
    font-size: 1.5rem;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-box2 {
    margin-top: 10px;
    background-color: beige;
    border: 2px solid black;
    height: 400px;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.common {
    padding: 20px 20px;
    font-size: 1rem;
    border-radius: 1rem;
}

.common:hover {
    cursor: pointer;
}

.clear {
    padding: 20px 20px;
    font-size: 0.85rem;
}
